gmail_email_labeller_agent.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "f8e72274-29b5-4e07-96d9-fbf26828b45c",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "simple": false,
        "filters": {
          "q": "in:inbox -label:AI/Processed"
        },
        "options": {}
      },
      "id": "794047d2-28de-4f5f-a590-1b1e5a1269f4",
      "name": "Gmail - Get Many Messages",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        224,
        0
      ],
      "webhookId": "a1e1306b-5276-48fd-9b50-4047fb7151d3",
      "credentials": {
        "gmailOAuth2": {
          "id": "DPFaqraXMQN4DLVo",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "5899aea2-0aae-4031-bd40-73e8af6529f2",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "e73aa352-445a-4515-a51e-a37ed5f757cc",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        672,
        0
      ],
      "webhookId": "937cce57-17ef-4756-89da-2dc312521350"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Classify this email:\n\n{{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": "You are an email labeling AI. Classify emails using existing Gmail labels. If none match, create a new structured label. Always avoid duplicates. Always apply AI/Processed label after classification. Promotions go to Promotions label."
        }
      },
      "id": "5f924f4f-4147-4d91-a7c4-b5b234d69706",
      "name": "Gmail AI Labeling Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        912,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a1bf896f-efc5-4a9d-92bc-3befb3880d16",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        912,
        224
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "VinbXQS2hFPu3o1V",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Read Gmail labels",
        "resource": "label",
        "returnAll": true
      },
      "id": "af67b996-e085-4282-9a67-ffc973d3573b",
      "name": "Gmail - Read Labels",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1120,
        224
      ],
      "webhookId": "68098173-ae41-4955-8377-42ccab3fc50f",
      "credentials": {
        "gmailOAuth2": {
          "id": "DPFaqraXMQN4DLVo",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get Gmail message",
        "operation": "get",
        "messageId": "={{ $fromAI('gmail_message_id') }}"
      },
      "id": "faf002f9-d2fc-4422-bc4f-c3a85a2e5376",
      "name": "Gmail - Get Message",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1328,
        224
      ],
      "webhookId": "cf3f6437-9c0b-4f5d-aaae-248ddc70b821",
      "credentials": {
        "gmailOAuth2": {
          "id": "DPFaqraXMQN4DLVo",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Create Gmail label",
        "resource": "label",
        "operation": "create",
        "name": "={{ $fromAI('new_label_name') }}",
        "options": {}
      },
      "id": "e32f2068-816e-442b-b1a5-5d795e0381c9",
      "name": "Gmail - Create Label",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1520,
        224
      ],
      "webhookId": "b0e1fc6b-10a2-4ffc-92cc-06e2a2a9319d",
      "credentials": {
        "gmailOAuth2": {
          "id": "DPFaqraXMQN4DLVo",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Add label to email",
        "operation": "addLabels",
        "messageId": "={{ $fromAI('gmail_message_id') }}",
        "labelIds": "={{ $fromAI('gmail_categories') }}"
      },
      "id": "36db06d2-c03c-4041-aa8a-2900e3cc22d1",
      "name": "Gmail - Add Label",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1728,
        224
      ],
      "webhookId": "19f3bc73-9647-45da-8782-7a93db2bd38d",
      "credentials": {
        "gmailOAuth2": {
          "id": "DPFaqraXMQN4DLVo",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Gmail - Get Many Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Get Many Messages": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gmail AI Labeling Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Read Labels": {
      "ai_tool": [
        [
          {
            "node": "Gmail AI Labeling Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Get Message": {
      "ai_tool": [
        [
          {
            "node": "Gmail AI Labeling Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Create Label": {
      "ai_tool": [
        [
          {
            "node": "Gmail AI Labeling Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Add Label": {
      "ai_tool": [
        [
          {
            "node": "Gmail AI Labeling Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d337d8929334dc6a51ac39fe93c9976feaa9f0de4b556afc7e43cc2e3c06eddc"
  }
}